<?xml version="1.0"?>
<ruleset name="HashiCorp Vault integration for WordPress">

	<config name="installed_paths" value="vendor/humanmade/coding-standards,vendor/phpcompatibility/php-compatibility" />
	<config name="testVersion" value="7.2-"/>

	<arg value="sq" />
	<arg name="extensions" value="php" />
	<arg name="parallel" value="8" />

	<exclude-pattern>vendor/*</exclude-pattern>

	<!-- Include the PHP version compatibility standard. -->
	<rule ref="PHPCompatibility"/>

	<!-- Use HM coding standards. -->
	<rule ref="vendor/humanmade/coding-standards">
		<!-- Don't restrict namespaced functions to `namespace.php`. -->
		<exclude name="HM.Files.FunctionFileName.WrongFile" />

		<!-- Don't restrict namespace to `inc/` directory. -->
		<exclude name="HM.Files.NamespaceDirectoryName.NoIncDirectory" />

		<!-- Don't enforce naming conventions for hooks. -->
		<exclude name="WordPress.NamingConventions.ValidHookName.UseUnderscores" />
	</rule>

	<!-- Use WordPress coding standards. -->
	<rule ref="WordPress.WP.DeprecatedFunctions">
		<properties>
			<property name="minimum_supported_version" value="5.1"/>
		</properties>
	</rule>

	<!-- Add PHPDoc rules. -->
	<rule ref="WordPress-Docs" />

</ruleset>
